<div class="container bg-white">
  <div class="d-flex flex-row bd-highlight mb-3">
    <div class="p-2 bd-highlight">
      <span class="text-black fs-2 justify-self-start">Crud operation</span>
    </div>
    <div class="p-2 ms-auto bd-highlight">
      <!-- Button trigger modal -->
      <button
        type="button"
        class="btn btn-outline-success me-2"
        data-bs-toggle="modal"
        data-bs-target="#userCreate"
        (click)="clickAddEmployee()"
      >
        Add employee
      </button>
      <!-- Modal -->
      <div
        class="modal fade"
        id="userCreate"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-center" id="exampleModalLabel">
                Enter Your details
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form class="row" [formGroup]="userForm" (click)="onSubmit()">
                <div class="col-md-12 mb-3">
                  <div class="mb-3">
                    <label class="form-label" for="autoSizingSelect"
                      >Your Title</label
                    >
                    <select
                      class="form-select"
                      name="title"
                      formControlName="title"
                      id="autoSizingSelect"
                      [ngClass]="{
                        'is-invalid': submitted && f.title.errors
                      }"
                    >
                      <option value="Mr">Mr</option>
                      <option value="Mrs">Mrs</option>
                      <option value="Miss">Miss</option>
                      <option value="Ms">Ms</option>
                    </select>
                    <div
                      class="text-danger mt-3"
                      *ngIf="submitted && f.title.errors"
                    >
                      <p *ngIf="f.title.errors.required">* Title is required</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 mb-3">
                  <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label"
                      >First Name</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      placeholder="First name"
                      aria-label="First name"
                      id="exampleFormControlInput1"
                      name="firstName"
                      formControlName="firstName"
                      [ngClass]="{
                        'is-invalid': submitted && f.firstName.errors
                      }"
                    />
                    <div
                      *ngIf="submitted && f.firstName.errors"
                      class="invalid-feedback"
                    >
                      <div
                        *ngIf="
                          f.firstName.errors.required &&
                          f.firstName.value === null
                        "
                      >
                        *First Name is required
                      </div>
                      <div
                        *ngIf="
                          f.firstName.status === 'INVALID' &&
                          f.firstName.dirty &&
                          f.firstName.touched &&
                          f.firstName.value !== ''
                        "
                      >
                        *Enter the valid First Name
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 mb-3">
                  <div class="mb-3">
                    <label for="exampleFormControlInput2" class="form-label"
                      >last Name</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="exampleFormControlInput2"
                      placeholder="Last name"
                      aria-label="Last name"
                      name="lastName"
                      formControlName="lastName"
                      [ngClass]="{
                        'is-invalid': submitted && f.lastName.errors
                      }"
                    />
                    <div
                      *ngIf="submitted && f.lastName.errors"
                      class="invalid-feedback"
                    >
                      <div
                        *ngIf="
                          f.lastName.errors.required &&
                          f.lastName.value === null
                        "
                      >
                        *Last Name is required
                      </div>
                      <div
                        *ngIf="
                          f.lastName.status === 'INVALID' &&
                          f.lastName.dirty &&
                          f.lastName.touched &&
                          f.lastName.value !== ''
                        "
                      >
                        *Enter the valid last Name
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="col-md-12 mb-3">
                  <label class="form-label" for="inlineFormInputGroupUsername"
                    >Username</label
                  >
                  <div class="input-group">
                    <div class="input-group-text">@</div>
                    <input
                      type="text"
                      class="form-control"
                      id="inlineFormInputGroupUsername"
                      placeholder="eg*(ASDasdf123)"
                      name="userName"
                      autocomplete="userName"
                    />
                  </div>
                </div>
                <div class="col-md-12">
                  <label for="inputPassword1" class="form-label"
                    >New Password</label
                  >
                  <input
                    type="password"
                    class="form-control"
                    id="inputPassword1"
                    placeholder="Password"
                    name="newPassword"
                    autocomplete="new-password"
                  />
                </div>
                <div class="col-md-12">
                  <label for="inputPassword2" class="form-label"
                    >Confirm Password</label
                  >
                  <input
                    type="password"
                    class="form-control"
                    id="inputPassword2"
                    placeholder="Password"
                    autocomplete="confirm-password"
                  />
                </div> -->
                <div class="col-md-12 mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Email address</label
                  >
                  <input
                    type="email"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    name="email"
                    formControlName="email"
                    [ngClass]="{
                      'is-invalid': submitted && f.email.errors
                    }"
                  />
                  <div
                    class="text-danger c mt-1"
                    *ngIf="submitted && f.email.errors"
                  >
                    <div *ngIf="f.email.errors.required">
                      E-Mail is required
                    </div>
                    <div *ngIf="f.email.errors.email">
                      Enter a Valid E-mail address
                    </div>
                  </div>
                </div>
                <div class="col-md-12 mb-3">
                  <label class="form-label d-block">Gender</label>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="gender"
                      id="inlineRadio1"
                      value="male"
                      formControlName="gender"
                      [ngClass]="{ 'is-invalid': submitted && f.gender.errors }"
                    />
                    <label class="form-check-label" for="inlineRadio1"
                      >male</label
                    >
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="gender"
                      id="inlineRadio2"
                      value="female"
                      formControlName="gender"
                      [ngClass]="{ 'is-invalid': submitted && f.gender.errors }"
                    />
                    <label class="form-check-label" for="inlineRadio2"
                      >Female</label
                    >
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="gender"
                      id="inlineRadio3"
                      value="other"
                      formControlName="gender"
                      [ngClass]="{ 'is-invalid': submitted && f.gender.errors }"
                    />
                    <label class="form-check-label" for="inlineRadio3"
                      >other</label
                    >
                  </div>
                  <div
                    class="text-danger c mt-1"
                    *ngIf="submitted && f.gender.errors"
                  >
                    <div *ngIf="f.gender.errors.required">
                      Gender is required
                    </div>
                  </div>
                </div>
                <div class="col-md-12 mb-3">
                  <label for="mobileNumber" class="form-label"
                    >Mobile Number</label
                  >
                  <input
                    type="number"
                    class="form-control"
                    id="mobileNumber"
                    name="mobile"
                    value=""
                    formControlName="mobile"
                    [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }"
                  />
                  <div
                    *ngIf="submitted && f.mobile.errors"
                    class="invalid-feedback"
                  >
                    <div
                      *ngIf="
                        f.mobile.errors.required && f.mobile.value === null
                      "
                    >
                      *mobile number is required
                    </div>
                    <div
                      *ngIf="
                        f.mobile.status === 'INVALID' &&
                        f.mobile.dirty &&
                        f.mobile.touched &&
                        f.mobile.value !== ''
                      "
                    >
                      *Enter the 10-digit valid mobile
                    </div>
                  </div>
                </div>
                <div class="col-12 d-flex justify-content-end">
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                      id="cancel"
                      (click)="clearClose()"
                    >
                      Close
                    </button>
                    <button
                      type="submit"
                      class="btn btn-primary"
                      *ngIf="showAdd"
                      (click)="onPost()"
                    >
                      Add
                    </button>
                    <button
                      type="submit"
                      class="btn btn-primary"
                      *ngIf="showUpdate"
                      [disabled]="userForm.invalid"
                      (click)="updateEmployee()"
                    >
                      update
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container text-white">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Sl.no</th>
          <th scope="col">Title</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email Address</th>
          <th scope="col">Gender</th>
          <th scope="col">Mobile Number</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of employeeDetails; let id = index">
          <td scope="row">{{ id + 1 }}</td>
          <td class="align-middle">{{ row.title }}</td>
          <td class="align-middle">{{ row.firstName }}</td>
          <td class="align-middle">{{ row.lastName }}</td>
          <td class="align-middle">{{ row.email }}</td>
          <td class="align-middle">{{ row.gender }}</td>
          <td class="align-middle">{{ row.mobile }}</td>
          <td class="row">
            <span class="col"
              ><button
                type="button"
                class="btn btn-warning btn-sm"
                data-bs-toggle="modal"
                data-bs-target="#userCreate"
                (click)="onEdit(row)"
              >
                Edit
              </button>
            </span>
            <span class="col">
              <!-- Button trigger modal -->
              <button
                type="button"
                class="btn btn-danger btn-sm"
                data-bs-toggle="modal"
                data-bs-target="#deleteUser"
              >
                Delete
              </button>
              <!-- Modal -->
              <div
                class="modal fade"
                id="deleteUser"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">
                        Are you sure want to delete this user
                      </h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <!-- <div class="modal-body">{{ row.firstName }}</div> -->
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-warning"
                        data-bs-dismiss="modal"
                        id="close"
                      >
                        cancel
                      </button>
                      <button
                        type="button"
                        class="btn btn-danger"
                        (click)="deleteEmployee(row)"
                      >
                        Delete
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!--(click)="postEmployeeDetails()"
(click)="updateEmployee()" -->
